/* ============================================= */
/*              Header                      */
/* ============================================= */

.main-header {
    text-align: center;
    h1 {
        color: black;
    }
    p {
        margin-bottom: 25px;
    }
}