/* ============================================= */
/*              Photo Display                       */
/* ============================================= */

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.photo-con {
    margin: 25px;
}