/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'quicksand', sans-serif;
    color: #777;
    box-sizing: border-box;
}

p {
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

